.searchbar{
  width: 80%;
 padding:10px; 
 margin:20px 40px;
 text-align: center; 
 font-size: 20px;

} 

.bigbox{
/* border:2px solid red;   */

background-color: rgb(99, 99, 92); 
display: flex;
flex-wrap: wrap; 
justify-content: space-evenly;   
/* margin:20px; */


} 

.grid_div{

  margin: 10px;

} 
span{
  color:whitesmoke;
}
